/* global */
body {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width:80%;
    margin:auto;
    overflow: hidden;
}


header{
    color: #ffffff;
    padding-top: 10px;
    min-height: 50px;
}

header a{
    color: rgb(245, 146, 159);
    text-decoration: none;
    font-size: 14px;
}

header ul{
    margin:0;
    padding: 0;
}

header ul li{
    display: inline;
    color: #ffffff;
    padding: 5px;
    font-size: 16px
}

header #branding{
    float: left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
}

.highlight {
    color:#3ECCB5;
}


a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
}

a:hover {
    color:#fff;
}

button:hover, input[type=submit]:hover{
    cursor: pointer;
}

.tables tbody tr:hover {
    background-color: #5b7f8d;
    color:#ffffff;
}

table{
    width:100%;
    border: none;
    border-spacing: 0px;
}

table th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

 table td {
    height: 30px;
    vertical-align:middle;
    border-bottom: 1px solid #ddd;
  }

  input {
    padding: 5px;
    margin: 5px 0 5px 0;
  }
  
  hr {
    border: 1px solid rgb(12, 148, 148);
    
  }

  /* custom */

  .error-label {
      font-style: italic;
      color: crimson;
  }
  .alert-box {
      background-color: teal;
      display: none;
      width: 80%;
      height: 40px;
      margin:auto;
  }

  .error-box {
    background-color: crimson;
    display: none;    
    width: 80%;
    margin:auto;
  }

  .alert-box p, .error-box p{
      color:#fff;
      text-align: center;
      padding-top: 8px;
      line-height: 1.8em;
  }


.tables td a{
    color: lightseagreen;
}

.table-header{
    display:block;
    width:95%;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
    color: #ffffff;
    box-shadow: 5px 5px 5px #5b7f8d;
}

.table-header.red{
    background-color:rgb(216, 89, 115);
}

.table-header.intervention{
    background-color: #5b7f8d;
}


/* login  */

.black-box {
    margin:auto;
    margin-top: 100px;
    padding:40px 20px;    
    background:#000;    
    opacity: 0.9;
    width:80%;
    height:320px;    
    color:burlywood; 
}

.welcome-box {
    float:left;        
    text-align: center; 
    padding-left: 20px;  
    height:320px;
    width:50%;
}

.welcome-box p {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;

    margin:0px;
    padding: 0px;   
    line-height: 2.0em;
    font-size:16px;
    font-weight: 100;    
}

.welcome-box input[type=submit] {
    border-radius: 4px;
    width : 40%;
    outline:none;
    margin-top:40px;
    padding: 15px;
    font-size: 16px;
    color: white;
    background: crimson;
    border: none;
}


.login-box {
    float:right;
    width:30%;
    height:320px;
    padding-left: 20px;
    border-left: 1px solid burlywood;
      
}


.black-box h1 {
    margin:0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

.login-box p {
    margin:0px;
    padding: 0px;   
    font-size:14px;
    font-weight: 100;
}

.login-box input {
    width:100%; 
    margin-bottom: 35px;
    outline:none;
    border:none;    
    height: 40px;
    font-size: 14px;
    color: burlywood;
    border-bottom: 1px solid burlywood;
    background: transparent;
}


.register-box input[type=submit], .login-box input[type=submit]{
    border-radius: 22px;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    background: rgb(22, 119, 103);
    border-bottom: none;
}

/* register */

.register-box {
    margin: auto;
    margin-top: 20px;
    padding:10px 20px;    
    background:#000;    
    opacity: 0.9;
    width:35%;
    color:#fff;    
}
.register-box h1 {
    margin:0px;
    padding: 0px;
    color: burlywood;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.register-box p {
    margin:0px;
    padding: 0px;   
    font-size:13px;
    font-weight: 100;
    color: teal;
}

.register-box input {
    width:100%; 
    outline:none;
    margin-bottom: 20px;
    border:none;
    color: burlywood;
    font-size: 14px;
    border-bottom: 1px solid burlywood;
    background: transparent;
}

.register-box input[type=submit] {
    color: white;
    height: 40px;
}

.login-box a {
    color: burlywood;
}



/* home.html */
.bg-image{
    background: url("../images/alex-reid-246078-unsplash.jpg") ;
    background-size: cover;
    background-position: center;
}

.cards {
    box-sizing: border-box;      
    margin-top:5px; 
    padding: 20px;   
    min-height: 220px;
    width: 100%;
    overflow: hidden;
}

.card{
    width:40%;
    height: 200px;
    color:#ffffff;
    border-radius: 4px;
}

.card.redflag-card {
    float: left;
    background-color:rgb(228, 58, 58); 
}

.card.intervention-card{
  float: right;
  background-color:lightseagreen;
  
}

.cards table {
    padding-top:10px;
    width:50%;
    margin:auto;       
}

.cards table tr {
border:none;
border-spacing: 0px;
}

.card-label {
    font-size: 14px;      
}

.card-value {
  font-size: 30px;   
  font-style: italic;    
}

.tables {
    background-color: rgb(250, 246, 246); 
    padding: 20px 0px;   
    min-height: 220px;
    width: 100%;
  }

.redflag-table {
    float: left;
    width:45%;
    min-height: 200px;
  }

.intervention-table {
    float: right;
    width:45%;
    min-height: 200px;
  }

.button-add{
    float: right;
    height: 37px; 
    width: 37px;   
    margin-right:8px;        
    background: url('../images/plus.png');
    border:none;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #5b7f8d;
}

/* Red flag */


.flag-box {
    margin:auto;
    width:100%;
    padding-top:40px;
    overflow: hidden;
}

.flag-box .left{
    float: left;
    width:30%;
    height:300px;
    padding:10px;
    margin-right:10px;
    border:1px solid #3ECCB5;
    border-radius: 4px;
}

.flag-box .middle{
    float: left;
    width:30%;
    height:300px;
    padding:10px;
    margin-right:10px;
    border:1px solid #3ECCB5;
    border-radius: 4px;
}


.flag-box .right{
    float: left;
    width:30%;
    height:300px;
    padding:10px;
    border: 1px solid #3ECCB5;
    border-radius: 4px;
}


.flag-box textarea {
    margin-bottom: 10px;
    outline: none;
    height: 50px;
    font-size: 12px;
    width:90%;
    border:none;
    border-bottom: 1px solid #5b7f8d;
}

.flag-box-submit{
    margin:auto;
    text-align: center;
    padding: 10px;
}
.flag-box-submit input{
    width:150px;
    height:35px;
    border: none;
    outline:none;
    color:#fff;
    background: rgb(22, 119, 103);
    font-size: 14px;
    border-radius: 20px;
}

.flag-box input[type=submit]:hover{
    cursor: pointer;
}
 .flag-box input{
    margin-bottom: 10px;
    width: 90%;
    border:none;
    font-size: 12px;
    border-bottom: 1px solid #5b7f8d;
    }

    .image-box{
        background: #000000;
        border-radius: 4px;
        width:100%;
        height:75%;
        margin:auto;
        text-align: center;
        line-height: 200px;
    }
    
    .flag-box .image-box p {
        color:#ffffff;
        font-size: 20px;
        font-weight: 100;
    }
    
        /* login page */
    
       #login-bg{       
        background: url("../images/alex-reid-246078-unsplash.jpg") ;
        background-size: cover;
        background-position: center;
    }
    
    .bg-image{
        background: url("../images/alex-reid-246078-unsplash.jpg") ;
        background-size: cover;
        background-position: center;
    }        
        
    .flag-box p, .register-box p{
        margin:0;
        padding: 0;    
        font-size: 14px;
        font-weight: 100;
    }

    .delete-box {
        width:40%;
        padding-left: 300px;
        margin-top: 100px;
    }

    .delete-box p{
        font-size: 15px;
        font-weight: 100;
        color: crimson;
        padding: 20px;
        text-align: center;
    }

    .filter{
        padding: 10px;
        margin:auto;
        width: 50%;
        height: 30px;        
    }

    .filter .user input{
        width: 40%;
        float: left;
    }

    .filter .district input{
        width:40%;
        float: right;
    }
 
    @media (max-width: 1000px){
        .flag-box {
            margin:auto;
            width:80%;
            padding-top: 10px;
        }
    
        .flag-box .left, .flag-box .middle, .flag-box .right{
            float:none;
            width: 80%;
            margin-bottom: 10px;
            margin-right: 0px;
            margin-left: 10px;
            
        }
    }

    
@media screen and (max-width: 768px){
    .tables{
        padding:5px;       
    }

    .tables .table1 table tbody tr {
        height:40px;
        font-size: 12px;
    }
    
    .tables .table2 table tbody tr {
        height:40px;
        font-size: 12px;
    }

    .card1 {
        width:48%;
    }

    .card2 {
        width:48%;
    }

    #total-flags {
        width:80%;
    }

    #total-flags {
        width:80%;
    }

    .container{
        width: 95%;
    }

    .flag-box {
        margin:auto;
        width:90%;
        padding-top: 10px;
    }

    .flag-box .left, .flag-box .middle, .flag-box .right{
        float:none;
        margin-bottom: 10px;
        margin-right: 0px;
        margin-left: 10px;
        
    }

    .redflag-table-wide {
        float: none;
        width: 95%;
    }

    .intervention-table-wide{
        float: none;
        width: 95%;
    }

    .welcome-box input[type=submit] {
        margin-top: 20px;        
    }

    .welcome-box p {
        font-size: 15px;       
    }
  
  
}

@media screen and (max-width: 550px){
    .tables{
        padding:0px;       
    }

    .tables .table1 table tbody tr {
        height:50px;
        font-size: 12px;
    }
    
    .tables .table2 table tbody tr {
        height:50px;
        font-size: 12px;
    }

   
    .cards {
        padding:0px;
    }

    .card1 {
        width:48%;
    }

    .card2 {
        width:48%;
    }

    #total-flags {
        width:80%;
    }

    #total-flags {
        width:80%;
    }

    .container{
        width: 95%;
    }

    .register-box {
        margin: auto;
        width:60%;
    }

    .welcome-box {
        padding-left: 0px;  
    }

    .login-box {
        width:40%;          
    }

    .filter{
        width: 80%;
    }

    .filter .user input{
        width: 50%;
        float: left;
    }

    .filter .district input{
        width:50%;
        float: right;
    }
}

@media screen and (max-width: 470px){
    .tables{
        padding:10px;    
        float:none;   
    }

    .tables .table1 table tbody tr {
        height:30px;
        font-size: 12px;
    }
    
    .tables .table2 table tbody tr {
        height:30px;
        font-size: 12px;
    }

    .tables .table1 table thead tr {
        height:30px;
        font-size: 12px;
    }
    
    .tables .table2 table thead tr {
        height:30px;
        font-size: 12px;
    }

    .table1 {
        float:none;
        width:90%;
    }

    .table2 {
        float:none;
        width:90%;
    }

    .redflag-table {
        float: none;
        width: 90%;
    }

    .intervention-table {
        float: none;
        width: 90%;
    }

    .card{
        width:48%;
    }

    .cards {
        padding:0px;
    }

    .cards table {
        padding-top: 5px;
        width: 80%;
    }

    .card1 {
        width:48%;
    }

    .card2 {
        width:48%;
    }

    #total-flags {
        width:80%;
    }

    #total-flags {
        width:80%;
    }

    .container{
        width: 95%;
    }

    .filter {
        padding: 0px;
        width: 100%;
        padding: 0px;
        height: 30px;
    }

    .register-box {
        margin: auto;
        width:80%;        
    }

    .welcome-box{
        height: 280px;
    }

    .welcome-box p {     
        line-height: 1.2em;
        font-size:16px;   
    }

    .login-box{     
        height:280px;   
    }

    .login-box input{     
        margin-bottom: 10px;  
    }


    .black-box {
        width:90%;
        height: 280px;
        padding: 20px;
        vertical-align: middle;
    }

    .black-box h1{
        font-size: 1.8em;
    }

    .welcome-box input[type=submit] {
        width: 80%;
        margin-top: 25px;
    }

    .welcome-box #second-par{
        display: none;
    }
       
}
